<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us | Your Awesome Website</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    header {
      background: #333;
      padding: 10px;
      text-align: center;
      color: #fff;
    }

    nav {
      background: #444;
      padding: 10px;
    }

    nav a {
      color: #fff;
      text-decoration: none;
      margin-right: 10px;
    }

    .contact-main {
      display: flex;
    }

    .contact-details-container {
      width: 50%;
      padding: 20px;
    }

    .contact-image-container {
      width: 50%;
    }

    .contact-image-container img {
      width: 100%;
    }

    .contact-item {
      margin-bottom: 20px;
    }

    .footer {
      background: #333;
      color: #fff;
      padding: 50px;
      text-align: center;
    }

    .footer a {
      color: #fff;
      text-decoration: none;
      margin: 0 10px;
    }

    .footer p {
      margin: 0;
    }
  </style>
</head>
<body>
  <header>
    <h1>Contact Us</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/products">Products</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>

  <main class="contact-main">
    <div class="contact-details-container">
      <div class="contact-item">
        <h3>Name</h3>
        <p>Vinit Desai</p>
           <p>Vineet Singh</p>
           <p>Rajesh Tekawade</p>
        </p>
      </div>
      <div class="contact-item">
        <h3>Email</h3>
        <p>youremail@example.com</p>
      </div>
      <div class="contact-item">
        <h3>Phone Number</h3>
        <p>+1234567890</p>
      </div>
      <div class="contact-item">
        <h3>Address</h3>
        <p>123 Street, City, Country</p>
      </div>
    </div>
    <div class="contact-image-container">
      <img src="clg.jpg" alt="Contact Image">
    </div>
  </main>

  <div class="footer">
    <p>&copy; 2024 Sellit. All rights reserved.</p>
    <a href="https://www.instagram.com/" target="_blank">Instagram</a>
    <a href="https://github.com/Vinit710/pdl-js/tree/main" target="_blank">GitHub</a>
    <a href="https://aissmsioit.org/" target="_blank">College Website</a>
  </div>
</body>
</html>

